/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css */

label {
    display: block;
}

body {
    background-color: #441E09;
    background-image: url("/image/cooking.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1250px) {
    .form-body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    backgrou
    font-weight: 700;
    background-color: #F1ECE7;
    padding: 20px 20px 20px;
    max-width: 318px;
    margin: 0 auto;
    border-radius: 10px;
    }
    
    .section-sign-up {
    padding: 192px 0px 32px;
    }
}


@media screen and (max-width: 1250px) and (min-width: 767px) {
    .form-body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    background-color: #F1ECE7;
    padding: 20px 20px 20px;
    max-width: 318px;
    margin: 0 auto;
    border-radius: 10px;
    }
    
    .section-sign-up {
    padding: 82px 0px 32px;
}
}

@media screen and (max-width: 767px) {
    .form-body {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    background-color: #F1ECE7;
    padding: 10px 20px;
    margin: 0 auto;
    }
    
    .section-sign-up {
    padding: 64px 0px 32px;
}
}

    .section-sign-up {
    display: block;
}


.form-set {
        margin-bottom: 15px;
}

.form-submit {
    background: #DF0912;
    background: linear-gradient(to right, #DF0912, #F98A02);
    border-width: 0;
    font-size: 1em;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    padding: 15px;
}



.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #c8c3c3;
    min-width: 10px;
    min-height: 10px;
    box-sizing: border-box;
    color: #3c3c3c;
    font-size: 1.333em;
}

.form-label {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    color: #3c3c3c;
    display: block;
    padding-bottom: 3px;
}

.form-headline {
    font-family: 'Raleway', sans-serif;
    text-decoration: underline;
    font-size: 1.333em;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.nav {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #441E09;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.777em;
    padding: 10px;
    opacity: 0.8;
}


